* {
  text-align: center;
  font-family: "Open Sans", serif;
  margin-left: 80px;
  margin-right: 80px;
  text-align: left;
}
:root {
  margin-left: 80px;
  border: #D9D9D9;
  background-color: #F5F4F0;
}
h1 {
  margin-top: 0%;
  margin-left: 80px;
  line-height: 140%;
  font-weight: bold;
  font-size: 36px;
}
p {
  font-weight: 700;
  font-size: 16px auto;
  color: #E1624F;
  margin-top: 88px;
  margin-bottom: 0%;
}
img {
  border-radius: 28px;
  height: 660px;
  width: 1120px;
}
.busan-ex {
  padding: auto;
  font-size: 16px;
  font-style: italic;
  width: 1120px;
  height: 37px;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 40px;
}
hr {
  border-color: #cfcfcf;
  box-sizing: border-box;
  width: 1120px;
  margin-left: 80px;
  margin-right: 80px;
}
.destinos {
  margin-bottom: 64px;
}

.templo {
  width: 1120px;
  height: 350px;
}
hr + p {
  margin-bottom: 24px;
}
h3 {
  font-weight: 1200px;
  font-size: 28px;
  font-size: 16px;
}
.hist {
  margin-top: 24px;
  font-weight: bold;
  margin-bottom: 0px;
}
ul li::marker {
  color: #333333;
}