* {
  font-family: "Open Sans", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: left;
  border: #D9D9D9;
}
:root {
  text-align: center;
  background-color: #F5F4F0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  flex-direction: column; 
  background-color: #F5F4F0; 
  min-height: 100vh; 
}
.container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}
h1 {
  line-height: 140%;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 40px;
}
p {
  font-weight: 700;
  font-size: 16px auto;
  color: #E1624F;
  margin-top: 88px;
  margin-bottom: 0%;
}
img {
  border-radius: 28px;
  height: 660px;
  width: 1120px;
}
.busan-ex {
  padding: auto;
  font-size: 16px;
  font-style: italic;
  width: 1120px;
  height: 37px;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 40px;
}
.destinos {
  margin-bottom: 64px;
}
.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}
.templo {
  object-fit: cover;
  width: 1120px;
  height: 350px;
}
hr + p {
  margin-bottom: 24px;
}
h3 {
  font-size: 32px;
}
.hist {
  margin-top: 24px;
  font-weight: bold;
  margin-bottom: 0px;
}
li::marker {
  color: #333333;
}
li {
  font-size: 16px;
  font-weight: bold;
  color: blue;
}
.templo-beo {
  object-fit: cover;
  width: 1120px;
  height: 350px;
  margin-top: 36px;
}
.templo-ex {
  color: #333333;
  font-weight: 500px;
}
.park {
  object-fit: cover;
  width: 1120px;
  height: 350px;
  margin-top: 36px;
  margin-bottom: 20px;
}
.one {
  color: purple
}
.two {
  color: rgb(128, 53, 66)
}
.busan-fi {
  margin-bottom: 24px;
  margin-top: 24px;
  text-align: center;
  font-style: normal;
}
footer {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto; 
  padding: 24px 0;
  text-align: center;
}
footer img {
  height: 16px;
  width: 16px;  
}